/build/
/devel/
/install/
.catkin_workspace

/src/Firmware/
/src/angles/
/src/cmake_modules/
/src/common_msgs/
/src/control_msgs/
/src/control_toolbox/
/src/dynamic_reconfigure/
/src/realtime_tools/
/src/MarkerLocator

*.pyc
*.idea/
*.vscode/
